.floating-menu {
    position: fixed;
    left: -40px;
    z-index: 99;
    display: none;
}

.floating-menu .floating-nav {
    position: absolute;
    border-bottom: 0;
}

.floating-menu.nav-collapsed .nav-toggle {
    transition: opacity .3s ease-in-out;
    opacity: 0.3;
}

.floating-menu.nav-collapsed .nav-toggle:hover {
    opacity: 1;
}

.floating-menu.nav-collapsed li.nav-item  {
    left: -40px;
}

.floating-menu.nav-expanded li.nav-item {
    left: 0;
}

.floating-menu  li.nav-toggle {
    width: 40px !important;
    left: 0 !important;
    background-color: #999999;
}

.floating-menu li {
    padding: 3px 10px;
    position: relative;
    margin-top: 2px !important;
    overflow: hidden;
    height: 40px;
    width: 40px;
    transition: all .3s ease-in-out;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    clear: left;
    float: left;
    line-height: 37px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
    left: -40px;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.floating-menu li:hover {
    width: 160px;
    color: #ffffff;
}

.floating-menu li > a {
    color: rgba(255, 255, 255, 0.6);
}

.floating-menu li:hover a {
    color: #ffffff;
    text-decoration: none;
}

.floating-menu li.active > a {
    color: #ffffff;
}

.floating-menu li span.nav-label {
    opacity: 0;
    padding-left: 12px;
}

.floating-menu li:hover span.nav-label {
    opacity: 1;
}

.floating-menu.nav-expanded li.nav-item.active {
    background-color: #bdbfc2;
}

